.style_featured { 
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.5s; 
}

.style_featured > div:hover {
    margin-top: +19px;
    box-shadow: rgba(0, 0, 0, 0.1) 9px 9px 9px 9px;
    background: rgba(153, 200, 250, 0.1);
    transition: 0.99s;
}
.center{
    margin-left: 10%;
    border: 1px solid #ccc;
    padding: 5px 50px;
    width: 80%;
    /* margin-top:800px; */
}
:host ::ng-deep button {
    margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff;
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
    color: #ffffff;
}
.locate{
    margin: auto;
    display: block;
}