<p-carousel headerText="Images" [value]="images" [style]="{'width':'80%', 'margin-left':'10%','z-index':'1'}">
    <ng-template let-image pTemplate="item">
        <div class="ui-grid ui-grid-responsive" [style]="{'min-height':'400px','min-width':'200px'}">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12" style="width:100%"><img src="{{image.label}}" width="100%"></div>
            </div>
        </div>
    </ng-template>
</p-carousel>
<br/>
<p-fieldset legend="Search:" [toggleable]="true" [style]="{'width':'80%', 'margin-left':'10%'}">
    <div class="ui-g ui-fluid">
        <label>Upload date:&nbsp;</label>
        <div class="ui-g-12 ui-md-4">
            <p-calendar [(ngModel)]="uploadDate" [showIcon]="true" (ngModelChange)="sortByUploadDate($event)"></p-calendar>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <label>User:</label>
        <div class="ui-g-12 ui-md-4">
            <p-dropdown (click)="sortByUser()" [options]="users" [(ngModel)]="selectedUser" filter="true" placeholder="Select a User">
                <ng-template let-user pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <!-- <img src="../../../assets/UserImages/{{user.email_address}}" style="width:24px;position:absolute;top:1px;left:5px" /> -->
                        <div style="width:24px;position:absolute;top:1px;left:5px">{{user.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <div class="filter_btn">
        <button class="btn btn-info btn_style" value="show all" (click)="showAll()">show all</button>
    </div>
</p-fieldset>